.country-card {
  position: fixed; /* troque absolute por fixed */

  top: 20px;
  right: 20px;

  width: 380px;
  height: calc(100vh - 40px); /* altura fixa da tela */
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 22px;
  border-radius: 24px;

  background: rgba(8, 15, 30, 0.93);
  backdrop-filter: blur(18px);

  z-index: 9999;

  /* Suporte de barra de rolagem para Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 189, 248, 0.5) transparent;
}

/* Barra de rolagem personalizada (Chrome/Safari/Edge) */
.country-card::-webkit-scrollbar {
  width: 8px;
}

.country-card::-webkit-scrollbar-track {
  background: transparent;
}

.country-card::-webkit-scrollbar-thumb {
  background: rgba(56, 189, 248, 0.5);
  border-radius: 10px;
}

.country-card::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 189, 248, 0.8);
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.close-country {
  position: absolute;
  top: 12px;
  right: 14px;

  width: 34px;
  height: 34px;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  background: #1e293b;
  color: white;
  font-size: 18px;
  transition: 0.2s;
}

.close-country:hover {
  background: #334155;
}

.country-flag {
  width: 100%;
  height: 180px;
  object-fit: cover;

  border-radius: 16px;
  margin-bottom: 18px;
}

.country-card h2 {
  color: #38bdf8;
  margin-bottom: 8px;
  font-size: 30px;
  text-align: center;
}

.description {
  color: #cbd5e1;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  margin-bottom: 24px;
}

.info-grid div {
  background: #111827;
  padding: 12px;
  border-radius: 14px;
  text-align: center;
}

.info-grid span {
  display: block;
  color: #64748b;
  font-size: 12px;
  margin-bottom: 4px;
}

.info-grid strong {
  color: white;
  font-size: 18px;
}

/* VÍDEO */

.video-container {
  margin-top: 20px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: #000;
}

.video-container iframe {
  width: 100%;
  height: 240px;
  border: none;
  display: block;
}

/* Responsivo para celular */
@media (max-width: 768px) {
  .country-card {
    top: 10px;
    right: 10px;
    left: 10px;

    width: auto;
    max-height: calc(100vh - 20px);
    padding: 18px;
  }

  .country-card h2 {
    font-size: 26px;
  }

  .country-flag {
    height: 160px;
  }

  .video-container iframe {
    height: 220px;
  }
}
